{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{page_title}}</h4>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!-- end page-title-box -->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->

        <div class="card-body m-0 p-0">
            <form action="{{url}}" method="post" id="purchase_form" enctype="multipart/form-data"  class="w-100 ajax redirect" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="card ordinary-variant-card">
                    <div class="table-responsive card-body add_item_container sales_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th class="header-cell align-middle" data-column-id="image" colspan="2">
                                        Add Sales
                                    </th>
                                    <th class="header-cell right-align" colspan="1">
                                        {{ sales_date_form.sales_party }}
                                    </th>
                                    <th class="header-cell right-align" colspan="2">
                                        {{ sales_date_form.date }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <th style="min-width: 15px;">Item Name</th>
                                <th style="min-width: 15px;">Qty</th>
                                <th style="min-width: 15px;">Amount</th>
                                <th style="min-width: 15px;">Total</th>
                                <th style="min-width: 15px;"></th>
                                {% for item in sales_formset.forms %}
                                <tr class="form_set_row sales_form_set_row sales_formset">
                                    {{item.id}}
                                    <td>
                                        <span class="purchase_item">
                                            {{ item.purchase_item }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="qty">
                                            {{ item.qty }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="per_kg_amount">
                                            {{ item.per_kg_amount }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="amount">
                                            {{ item.amount }}
                                        </span>
                                    </td>
                                    <td class="delete">
                                        {% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ sales_formset.management_form }}
                    </div>
                </div>
    
                <div class="card ordinary-variant-card">
                    <div class="table-responsive card-body add_item_container sales_expense_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="image" colspan="4">Add Purchase Expenses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th style="min-width: 15px;">Title</th>
                                <th style="min-width: 15px;">Amount</th>
                                <th style="min-width: 15px;"></th>
                                {% for item in sales_expense_formset.forms %}
                                <tr class="form_set_row sales_expense_form_set_row sales_expense_formset">
                                    {{item.id}}
                                    <td>
                                        <span class="title">
                                            {{ item.title }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="amount">
                                            {{ item.amount }}
                                        </span>
                                    </td>
                                    <td class="delete">
                                        {% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ sales_expense_formset.management_form }}
                    </div>
                </div>
    
                <div class="mb-3 text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!--end card-body-->
    </div><!-- container -->

</div>
<!-- end page content -->

{% endblock content %}

{% block static %}
    {% load static %}
    {% comment %} <style>
        input{
            width: 40% !important;
        }
    </style> {% endcomment %}
    {{form.media}}
    <style>
        .header-cell {
            text-align: left;
        }
    
        .header-cell.right-align {
            text-align: right;
        }
    </style>
    <style>
        .form-group {
            margin-bottom: 10px;
        }
        .text-area{
            height: 150px !important;   
        }
        .select2-container--default{
            width: 100%;
        }
        .select2-container .select2-selection--single {
            height: calc(2.5em + .75rem + 2px);
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 32px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: 8px;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #000;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid rgba(23,97,253,0.5) 1px;
        }
    
        .form-control {
            height: calc(2.8em + .75rem + 2px);
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #000;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid rgba(23,97,253,0.5) 1px;
        }


        .dynamic-formset-add td{
            text-align: center !important;
        }
        .dynamic-formset1-add td{
            text-align: center !important;
        }
        .sales_formset a.add-row::before{
            content: "+ Add"
        }
        .sales_formset a.remove::before{
            content: "Remove"
        }
        .sales_expense_formset a.add-row::before{
            content: "+ Add"
        }
        .sales_expense_formset a.remove::before{
            content: "Remove"
        }
    </style>
    <script src="{% static 'admin_panel/assets/plugins/select2/select2.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.sales_formset table tr.sales_form_set_row').formset({
                prefix: '{{ sales_formset.prefix }}',
                formCssClass: 'dynamic-formset',

                
            });
            $('.sales_expense_formset table tr.sales_expense_form_set_row').formset({
                prefix: '{{ sales_expense_formset.prefix }}',
                formCssClass: 'dynamic-formset1',

                'added': function (row) {
                    
                },
                'removed': function (row) {
                    row.removeClass('sales_expense_form_set_row');
                }
            });
            
        });
    </script>
    <script>
        $(".purchase-item").change(function(){
            var itemValue = $(this).val();
            var digitValue = $(this).attr("id");
            var digitValue = digitValue.match(/\d+/);

            if (digitValue !== null) {
                var digitValue = digitValue[0];
            }

            var branch_pk = "{{branch_pk}}"
            var url = "{% url 'sales:product_item_qty' %}"

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'purchase_item': itemValue,
                    'branch_pk': branch_pk,
                },
        
                success: function (data) {
                    var qty = data['qty'];
                    $("#id_sales_formset-"+digitValue+"-qty").val(qty);
                },
        
                error: function (data) {
                    var title = data["title"];
                    var errorMessagesStr = data["responseJSON"]["message"];
                },
            });

        });

        $('.amount_per_kg').keyup(function(){
            var elemId = $(this).attr("id");
            var formCount = elemId.match(/\d+/);
            var amount = parseFloat($(this).val()); // Parse the amount as a float
            var qtyValue = parseFloat($("#id_sales_formset-"+formCount+"-qty").val()); // Parse the qtyValue as a float
        
            var totalAmount = qtyValue * amount;
        
            // Limit the totalAmount to two decimal places and update the field
            $("#id_sales_formset-"+formCount+"-amount").val(totalAmount.toFixed(2));
        });
        
    </script>
{% endblock %}