{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>FMS | {{page_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% load static %}
        <!-- App favicon -->
        <meta property="og:image" content="{% static 'admin_panel/assets/images/fav-icon/android-icon-192x192.png' %}" />
        <meta property="og:title" content="FMS" />
        {% comment %} <meta property="og:description" content="Hello, World!" /> {% endcomment %}

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'admin_panel/assets/images/fav-icon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'admin_panel/assets/images/fav-icon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'admin_panel/assets/images/fav-icon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin_panel/assets/images/fav-icon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'admin_panel/assets/images/fav-icon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'admin_panel/assets/images/fav-icon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        <!-- App css -->
        <link rel="stylesheet" href="{% static 'admin_panel/assets/autocomplete_light/vendor/select2/dist/css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />  
        <link href="{% static 'admin_panel/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/plugins/timepicker/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
        <link href="{% static 'admin_panel/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/sweet/sweetalert2.css' %}" rel="stylesheet" type="text/css" />        
        <link href="{% static 'admin_panel/assets/js/lightbox/magnific-popup.css' %}" rel="stylesheet" type="text/css" /> 
        <link rel="stylesheet" href="{% static 'field_executive/assets/remix_icons/remixicon.css' %}">   
        <link rel="stylesheet" href="{% static 'date/jquery.datepicker.css' %}">
    
    </head>

    <body>
        {% load sales_templates_tags %}
        <div class="page-wrapper ml-0">
            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">{{page_title}}</h4>
           
                                    </div><!--end col-->
                                    
                                </div><!--end row-->                                                              
                            </div><!-- end page-title-box -->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header" style="background-color:#f8f9fa;">
                                    Date : <strong>{{ instance.date|date:"d-M-Y" }}</strong><br>
                                    Invoice : <strong>{{instance.invoice_no}}</strong><br>
                                    Sales Manager : <strong>{{instance.sales_manager.get_fullname}}</strong><br>
                                    Sales Party : <strong>{{instance.sales_party.get_fullname}}</strong><br>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive-sm">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="font-weight-bold text-center">#</th>
                                                    <th class="font-weight-bold text-left">Item / Description</th>
                                                    <th class="font-weight-bold text-center">Qty</th>
                                                    <th class="font-weight-bold text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% get_sales_materials instance.pk as materials %}
                                                {% for material in materials %}
                                                <tr>
                                                    <td class="text-center">{{forloop.counter}}</td>
                                                    <td class="text-left strong">{{material.purchase_item.name}}</td>
                                                    <td class="text-center">{{material.qty}}</td>
                                                    <td class="text-right">₹{{material.amount}}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td class="font-weight-bold text-right" colspan="2">Grand Total: </td>
                                                    <td class="font-weight-bold text-center">{{instance.total_qty}}</td>
                                                    <td class="font-weight-bold text-right">₹{{instance.materials_total_amount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% get_sales_expenses instance.pk as expences %}
                                        {% if expences %}
                                        <div class="card-header" style="padding: 0px 1rem 5px 1rem;">
                                            <h5 class="m-0 font-weight-bold">Expences :</h5>
                                        </div>
                                        <table class="table table-striped mb-0">
                                            <tbody>
                                                {% for expence in expences %}
                                                <tr>
                                                    <td class="text-center">{{forloop.counter}}</td>
                                                    <td class="text-left strong">{{expence.title}}</td>
                                                    <td class="text-right">₹{{expence.amount}}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td class="font-weight-bold text-right" colspan="2">Grand Total: </td>
                                                    <td class="font-weight-bold text-right">₹{{instance.materials_total_expence}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5"></div>
                                        <div class="col-lg-4 col-sm-5 ml-auto">
                                            <table class="table table-clear">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left"><strong>Subtotal</strong></td>
                                                        <td class="text-right">₹{{instance.sub_total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->
                        </div> <!-- end col -->
                    </div>
        
                </div><!-- container -->
                <!-- end page content -->
            </div>
            <!-- end page-wrapper -->
        </div>
        {% include 'admin_panel/includes/js.html' %}
        <script>
            $(document).ready(function(){
                window.print();
            });
        </script>
    </body>
</html>