<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>FMS | Forgot Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {% load static %}

        <!-- App favicon -->
        <meta property="og:image" content="{% static 'admin_panel/assets/images/fav-icon/android-icon-192x192.png' %}" />
        <meta property="og:title" content="FMS Accounts" />
        {% comment %} <meta property="og:description" content="Hello, World!" /> {% endcomment %}

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'admin_panel/assets/images/fav-icon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'admin_panel/assets/images/fav-icon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'admin_panel/assets/images/fav-icon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin_panel/assets/images/fav-icon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'admin_panel/assets/images/fav-icon/manifest.json' %}">
        
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'admin_panel/assets/images/fav-icon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        <!-- App css -->
        <link href="{% static 'admin_panel/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="account-body accountbg">

        <!-- Log In page -->
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center">
                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-3">
                                        <a href="javascript:void('0')" class="logo logo-admin" style="background: #ffff; display: block; border-radius: 10px; height: 80px;">
                                            <img src="{% static 'admin_panel/assets/images/logo_1.png' %}" height="70" alt="logo" class="auth-logo">
                                        </a>
                                        <h4 class="mt-3 mb-1 font-weight-semibold text-white font-18">Let's Get Started </h4>   
                                        <p class="text-muted  mb-0">continue to .</p>  
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="nav-border nav nav-pills" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active font-weight-semibold" data-toggle="tab" href="{% url 'auth_login' %}" role="tab">Log In</a>
                                        </li>
                                    </ul>
                                     <!-- Tab panes -->
                                     {% if form.non_field_errors %}
                                        <div class="palette-Red-500 text m-b-20">	    	
                                            {{form.non_field_errors}}			
                                        </div>
                                        <br />
                                    {% endif %}
                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">                                        
                                            <form action="{{url}}" method="post" id="forgot_form" enctype="multipart/form-data"  class="w-100 custom_ajax_add_form redirect" autocomplete="off" novalidate>
                                                {% csrf_token %}
                                                <div class="form-group mb-2">
                                                    <label for="username">Username</label>
                                                    <div class="input-group">                                                                                         
                                                        <input type="text" class="form-control" value="{{ form.username.value|default:''}}" name="username" id="username" placeholder="Enter email id or employee id">
                                                    </div>   
                                                    <span class="error">{{ form.username.errors.as_text }}</span>
                                                </div><!--end form-group--> 

                                                <div class="form-group row my-3">
                                                    <div class="col-sm-12 text-right">
                                                        <a href="/app/accounts/login/" class="text-muted font-13"> Login</a>                                    
                                                    </div><!--end col--> 
                                                </div><!--end form-group--> 
                    
                                                <div class="form-group mb-0 row">
                                                    <div class="col-12">
                                                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">continue <i class="fas fa-sign-in-alt ml-1"></i></button>
                                                    </div><!--end col--> 
                                                </div> <!--end form-group-->                           
                                            </form><!--end form-->
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                                <div class="card-body bg-light-alt text-center">
                                    <span class="text-muted d-none d-sm-inline-block"> © 2023</span>                                            
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <!-- End Log In page -->

        


        <!-- jQuery  -->
        <script src="{% static 'admin_panel/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'admin_panel/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'admin_panel/assets/js/waves.js' %}"></script>
        <script src="{% static 'admin_panel/assets/js/feather.min.js' %}"></script>
        <script src="{% static 'admin_panel/assets/js/simplebar.min.js' %}"></script>
        <script>
            $(".custom_ajax_add_form").submit(function (e) {
                e.preventDefault();
                var $this = $(this);
                
                var url = $this.attr('action');
                var method = $this.attr('method');
                var isReset = $this.hasClass('reset');
                var isReload = $this.hasClass('reload');
                var isRedirect = $this.hasClass('redirect');
                var noLoader = $this.hasClass('no-loader');
                var noPopup = $this.hasClass('no-popup');
                var isRunFunctionAfter = $this.hasClass('run-function-after');
                var function_name = $this.attr('data-function');
                var selector_class = $this.attr('data-after-function-selector-parent-class');
            
                var data = $this.serialize();
                
                $.ajax({
                    type: method,
                    url: url,
                    dataType: 'json',
                    data: new FormData(this),
                    cache: false,
                    contentType: false,
                    processData: false,
            
                    success: function (data) {
                        var redirect = data['redirect'];
                        var redirect_url = data['redirect_url'];
    
                        if (isRedirect && redirect == 'true') {
                            window.location.href = redirect_url;
                        }
                    },
            
                    error: function (data) {
                        var title = data["title"];
                        var errorMessagesStr = data["responseJSON"]["message"];
                        console.log(errorMessagesStr);
                        $("span.error").html(errorMessagesStr);
                        document.querySelector("span.error").style.display = "block";
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        </script>

        
    </body>

</html>