<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMS | Logout</title>
</head>
<body>
    <div class="l-block toggled" id="l-login">
        <div class="lb-header palette-Teal bg">
            <i class="zmdi zmdi-lock"></i>
            You're successfully logged out
        </div>
    
        <div class="lb-body">
            <p class="message center">You are successfully logged out. <br /> <a class="color_link center" href="{% url 'auth_login' %}">Login Again</a>
        </div>
    </div>
</body>
</html>

            