{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>FMS | Password Change Success</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% load static %}
        <!-- App favicon -->
        <meta property="og:image" content="{% static 'admin_panel/assets/images/fav-icon/android-icon-192x192.png' %}" />
        <meta property="og:title" content="FMS" />
        {% comment %} <meta property="og:description" content="Hello, World!" /> {% endcomment %}


        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'admin_panel/assets/images/fav-icon/fav-iconapple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'admin_panel/assets/images/fav-icon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'admin_panel/assets/images/fav-icon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'admin_panel/assets/images/fav-icon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin_panel/assets/images/fav-icon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'admin_panel/assets/images/fav-icon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'admin_panel/assets/images/fav-icon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        <!-- App css -->
        <link rel="stylesheet" href="{% static 'admin_panel/assets/autocomplete_light/vendor/select2/dist/css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />  
        <link href="{% static 'admin_panel/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/plugins/timepicker/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
        <link href="{% static 'admin_panel/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/sweet/sweetalert2.css' %}" rel="stylesheet" type="text/css" />        
        <link href="{% static 'admin_panel/assets/js/lightbox/magnific-popup.css' %}" rel="stylesheet" type="text/css" /> 
        <link rel="stylesheet" href="{% static 'field_executive/assets/remix_icons/remixicon.css' %}">   
        <link rel="stylesheet" href="{% static 'date/jquery.datepicker.css' %}">
        
    </head>

    <body>

        <!-- Page Content-->
        <div class="page-content w-100 d-flex justify-content-center flex-wrap align-content-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: transparent; margin: 0;" bgcolor="transparent">
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
                                <td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
                                    <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: transparent; margin: 0; border: 1px dashed #4d79f6;" bgcolor="#fff">
                    
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                                                    <meta itemprop="name" content="Confirm Email" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" />
                                                    <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                        <tr><td><a href="email-templates-basic.html#"><img src="{% static 'admin_panel/assets/images/logo_1.png' %}" alt="" style="margin-left: auto; margin-right: auto; display:block; margin-bottom: 10px; height: 40px;"></a></td></tr>
                                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                            <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box;     font-weight: bolder;
                                                            background: linear-gradient(to bottom, #7bc745, #2c4f64);
                                                            -webkit-text-fill-color: transparent;
                                                            -webkit-background-clip: text;font-size: 24px; font-weight: 700; text-align: center; vertical-align: top; margin: 0; padding: 0 0 10px;" valign="top">
                                                            Successful
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                            <td class="content-block text-center" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 10px 10px;" valign="top">
                                                                Password Updated Successfully
                                                            </td>
                                                        </tr>
                                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                            <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 10px 10px;" valign="top">                                                                    
                                                                <a href="/app/accounts/login/" class="btn-primary" style=" font-size: 14px; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: block; border-radius: 5px; border: none; padding: 10px 20px;">Signin</a>
                                                            </td>
                                                        </tr>
                                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                            <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; padding-top: 5px; vertical-align: top; margin: 0; text-align: right;" valign="top">
                                                                <b>FMS</b> - Admin
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table><!--end table-->                                                
                                    </div><!--end content-->
                                </td>
                                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
                            </tr>
                        </table><!--end table-->                                
                    </div><!--end col-->
                </div><!--end row--> 

            </div><!-- container -->
        </div>
        <!-- end page content -->

        


        {% include 'admin_panel/includes/js.html' %}
        
    </body>

</html>