{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
   
                            </div><!--end col-->
                            
                        </div><!--end row-->                                                              
                    </div><!-- end page-title-box -->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">List view</h4>
                        </div>
                        <!--end card-header-->
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table mb-0" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">SL.No</th>
                                            <th>Type</th>
                                            <th>Position</th>
                                            <th>Text</th>
                                            <th class="text-center">Start Date</th>
                                            <th class="text-center">End Date</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Image</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% load el_pagination_tags %}
                                        {% paginate 20 instances %}
                                        {% for instance in instances %}
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td>{{instance.get_type_display}}</td>                                            
                                            <td>{{instance.get_position_display}}</td>                                            
                                            <td>{{instance.text}}</td>
                                            <td class="text-center">{{instance.start_date|date:"d-M-Y"}}</td>
                                            <td class="text-center">{{instance.end_date|date:"d-M-Y"}}</td>
                                            <td class="text-center">
                                                {% comment %} {% if instance.status %}
                                                <span class="badge badge-success">Active</span>
                                                {% else %}
                                                <span class="badge badge-danger">Deactivate</span>
                                                {% endif %} {% endcomment %}
                                                <span class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input status-change-btn" id="{{instance.pk}}" {% if instance.status %} checked {% endif %} >
                                                    <label class="custom-control-label" for="{{instance.pk}}"></label>
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                {% if instance.get_image %}
                                                yes
                                                {% else %}
                                                --
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% comment %} <a href="{% url 'ad_wish_hub:edit_wishes' pk=instance.pk %}"><i class="las la-pen text-info font-18"></i></a> {% endcomment %}
                                                <a class="action-button remove btn btn-default btn-icon" style="padding:0;"
                                                 data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'ad_wish_hub:delete_wishes' pk=instance.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                               
                                    </tbody>
                                </table>
                                <!--end /table-->
                                {% get_pages %}
                                <div class="clearfix"></div>
                                <div class="row pagi my-3">
                                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                                        <div class="m-t-10">
                                            Showing {{title}}
                                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                                class="total_count">{{ pages.total_count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end /tableresponsive-->
                            <!-- pagination -->
                            
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div> <!-- end col -->
            </div>
        </div><!-- container -->
    <!-- end page content -->
{% endblock content %}

{% block static %}
    {% load static %}
    {{form.media}}
    <script>
        $(".status-change-btn").change(function(){
            var wishesId = $(this).attr('id'); // Get the wishes ID from the checkbox ID
            var isChecked = $(this).prop('checked'); // Check if the checkbox is checked or not
        
            $.ajax({
                url: '{% url 'ad_wish_hub:update_wishes_status' %}', // Replace with your Django endpoint URL
                type: 'GET',
                data: {
                    'wishes_id': wishesId,
                    'is_checked': isChecked
                },
                success: function(response) {
                    // Perform any additional actions upon successful update if needed
                },
                error: function(error) {
                    console.error('Error updating status:', error);
                }
            });
        });
        
    </script>

{% endblock %}
        