{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{page_title}}</h4>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!-- end page-title-box -->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="{% if panchayath_instances %} col-lg-8 {% else %} col-lg-12 {% endif %}">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Distributer Details</h4>
                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <form action="{{url}}" method="post" id="panchayath_form" enctype="multipart/form-data"  class="w-100 ajax redirect" autocomplete="off" novalidate>
                            {% csrf_token %}
                            <div class="ordinary-variant-card">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="projectName">{{distribution_form.branch.label}} : </label>
                                            {{distribution_form.branch}}
                                        </div><!--end form-group-->
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="projectName">{{distribution_form.name.label}} : </label>
                                            {{distribution_form.name}}
                                        </div><!--end form-group-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="projectName">{{distribution_form.description.label}} : </label>
                                            {{distribution_form.description}}
                                        </div><!--end form-group-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <div class="form-control" style="color: aqua; height: calc(3.4em + .75rem + 2px); padding: 1rem .75rem; background-color: rgba(0, 0, 0, 0.04);">
                                                {{distribution_form.is_sub_distributions}}
                                                <label for="projectName">Have Sub Distributers</label>
                                        </div><!--end form-group-->
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive add_item_container sub_distribution_formset">
                                <table id="data-table-basic" class="table table-striped table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th class="header-cell align-middle" colspan="3">
                                                Add Sub Distributers
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th style="min-width: 15px;">Name</th>
                                        <th style="min-width: 15px;">Description</th>
                                        <th style="min-width: 15px;"></th>
                                        {% for item in sub_distribution_formset.forms %}
                                        <tr class="form_set_row sub_distribution_formset">
                                            {{item.id}}
                                            <td>
                                                <span class="name">
                                                    {{ item.name }}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="description">
                                                    {{ item.description }}
                                                </span>
                                            </td>
                                            <td class="delete">
                                                {% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {{ sub_distribution_formset.management_form }}
                            </div>
                
                            <div class="mb-3 text-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div> <!-- end col -->
        </div>
    </div><!-- container -->

</div>
<!-- end page content -->

{% endblock content %}

{% block static %}
    {% load static %}
    {% comment %} <style>
        input{
            width: 40% !important;
        }
    </style> {% endcomment %}
    {{form.media}}
    <style>
        .form-group {
            margin-bottom: 10px;
        }
        .text-area{
            height: 50px !important;   
        }    
        .form-control {
            height: calc(2.8em + .75rem + 2px);
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #000;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid rgba(23,97,253,0.5) 1px;
        }


        .dynamic-formset-add td{
            text-align: center !important;
        }
        .dynamic-formset1-add td{
            text-align: center !important;
        }
        .sub_distribution_formset a.add-row::before{
            content: "+ Add"
        }
        .sub_distribution_formset a.remove::before{
            content: "Remove"
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.sub_distribution_formset table tr.form_set_row').formset({
                prefix: '{{ sub_distribution_formset.prefix }}',
                formCssClass: 'dynamic-formset',

                'added': function (row) {
                    
                },
            });
        });
        $(document).ready(function () {
            function subDistributionsForm() {
                var is_subdistribution = $("#id_is_sub_distributions").prop('checked');
                if (is_subdistribution === true) {
                    $(".sub_distribution_formset").show();
                } else {
                    $(".sub_distribution_formset").hide();
                }
            }
            $("#id_is_sub_distributions").change(function() {
                subDistributionsForm();
            });
            subDistributionsForm();
        });
        
    </script>
{% endblock %}