{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{ page_title }}</h4>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end page-title-box -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- end page title end breadcrumb -->
        <form action="{{ url }}" method="POST" enctype="multipart/form-data" class="ajax redirect">
            <div class="row">
                <div class="col-12">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body bootstrap-select-1">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="product_category">{{ product_form.product_category.label }} :</label>
                                        {{ product_form.product_category }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="product_sub_category">{{ product_form.product_sub_category.label }} :</label>
                                        {{ product_form.product_sub_category }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                                    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="material">{{ product_form.material.label }} :</label>
                                        {{ product_form.material }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="material_type">{{ product_form.material_type.label }} :</label>
                                        {{ product_form.material_type }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="material_type_category">{{ product_form.material_type_category.label }} :</label>
                                        {{ product_form.material_type_category }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                                    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="item_code">{{ product_form.item_code.label }} :</label>
                                        {{ product_form.item_code }}
                                    </div><!-- end form-group -->
                                    
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{ product_form.name.label }} :</label>
                                        {{ product_form.name }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                                    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="color">{{ product_form.color.label }} :</label>
                                        {{ product_form.color }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="approximate_development_time">{{ product_form.approximate_development_time.label }} :</label>
                                        {{ product_form.approximate_development_time }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="feuture_image">{{ product_form.feuture_image.label }} :</label>
                                        {{ product_form.feuture_image }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                                    
                                {% if product_form.instance.feuture_image %}
                                <div class="col-md-6">
                                    <div class="col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <img src="{{ product_form.instance.feuture_image.url }}" height="100px" width="100px">
                                            </div><!-- end card-body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                </div><!-- end col -->
                                {% endif %}

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="source">{{ product_form.source.label }} :</label>
                                        {{ product_form.source }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="remark">{{ product_form.remark.label }} :</label>
                                        {{ product_form.remark }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->

                    <div id="material-types-section" class="card ordinary-variant-card">
                        <div class="table-responsive card-body add_item_container product_image_formset">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in product_image_formset.forms %}
                                    <tr class="form_set_row product_image_formset">
                                        {{ item.id }}
                                        <td><span class="image">{{ item.image }}</span> 
                                            {% if item.instance.image %}
                                            <img src="{{ item.instance.image.url }}" height="100px" width="100px">
                                            {% endif %}
                                        </td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {{ product_image_formset.management_form }}
                        </div>
                    </div>

                    <button type="submit" id="submit" class="btn btn-soft-primary btn-sm waves-effect waves-light">Submit</button>
                    <button type="button" onclick="window.history.back()" class="btn btn-soft-danger btn-sm">Cancel</button>
                </div><!-- end col -->
            </div><!-- end row -->
        </form><!-- end form -->
    </div><!-- container -->
</div><!-- end page content -->
{% endblock content %}

{% block static %}
{% load static %}
<style>
    .django-ckeditor-widget{
        display: block !important;
    }
</style>
{{ form.media }}
<style>
    .form-group { margin-bottom: 10px; }
    .text-area { height: 150px !important; }
    .select2-container--default { width: 100%; }
    .select2-container .select2-selection--single { height: calc(2.5em + .75rem + 2px); }
    .select2-container--default .select2-selection--single { border: 1px solid #e3ebf6; }
    .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 32px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b { margin-top: 8px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice { color: #000; }
    .select2-container--default .select2-selection--multiple { border: 1px solid #e3ebf6; }
    .select2-container--default.select2-container--focus .select2-selection--multiple { border: solid rgba(23, 97, 253, 0.5) 1px; }
    .form-control { height: calc(2.8em + .75rem + 2px); }
    .select2-container--default .select2-selection--multiple .select2-selection__choice { color: #000; }
    .select2-container--default .select2-selection--multiple { border: 1px solid #e3ebf6; }
    .select2-container--default.select2-container--focus .select2-selection--multiple { border: solid rgba(23, 97, 253, 0.5) 1px; }
    .dynamic-formset-add td { text-align: center !important; }
    #id_source{display: flex;list-style: none;padding: 0;justify-content: flex-start;align-items: center;}
    #id_source li{margin-right: 12px;}
</style>
<script>
    $(document).ready(function () {
        $('.product_image_formset table tr.form_set_row').formset({
            prefix: '{{ product_image_formset.prefix }}',
            formCssClass: 'dynamic-formset',
            added: function (row) {
                row.find('.type_sub_category_name').attr('disabled', 'disabled');
            },
        });
    });
</script>
{% comment %} get sub category {% endcomment %}
<script>
    $(document).ready(function() {
        var product = $('#id_product_category').val();
        $('#id_product_category').change(function() {
            var categorySelected = $(this).val();

            if (categorySelected !== "" ){
                $.ajax({
                    url: "{% url 'product:get_sub_category' %}", 
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        'category': categorySelected,
                    },
                    success: function(data) {
                        console.log(data)
                        console.log(data.instances)
                        if (data !== ""){
                            var options = '<option value="">Select</option>';
                            $.each(data.instances, function(index, sd) {
                                options += '<option value="' + sd.id + '">' + sd.name + '</option>';
                            });
                            $('#id_product_sub_category').html(options);
                            $('#id_product_sub_category').show();
                        }else{
                            $('#id_product_sub_category').hide();
                        }
                    }
                });
            }else{
                $('#id_product_sub_category').hide();
            }
        });
    });
</script>
{% comment %} get meterial types {% endcomment %}
<script>
    $(document).ready(function() {
        var product = $('#id_material').val();
        $('#id_material').change(function() {
            var materialSelected = $(this).val();

            if (materialSelected !== "" ){
                $.ajax({
                    url: "{% url 'product:get_materials_type' %}", 
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        'material': materialSelected,
                    },
                    success: function(data) {
                        console.log(data)
                        console.log(data.instances)
                        if (data !== ""){
                            var options = '<option value="">Select</option>';
                            $.each(data.instances, function(index, sd) {
                                options += '<option value="' + sd.id + '">' + sd.name + '</option>';
                            });
                            $('#id_material_type').html(options);
                            $('#id_material_type').show();
                        }else{
                            $('#id_material_type').hide();
                        }
                    }
                });
            }else{
                $('#id_material_type').hide();
            }
        });
    });
</script>
{% comment %} get meterial types category {% endcomment %}
<script>
    $(document).ready(function() {
        var product = $('#id_material_type').val();
        $('#id_material_type').change(function() {
            var materialTypeSelected = $(this).val();

            if (materialTypeSelected !== "" ){
                $.ajax({
                    url: "{% url 'product:get_materials_type_category' %}", 
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        'material_type': materialTypeSelected,
                    },
                    success: function(data) {
                        if (data !== ""){
                            var options = '<option value="">Select</option>';
                            $.each(data.instances, function(index, sd) {
                                options += '<option value="' + sd.id + '">' + sd.name + '</option>';
                            });
                            $('#id_material_type_category').html(options);
                            $('#id_material_type_category').show();
                        }else{
                            $('#id_material_type_category').hide();
                        }
                    }
                });
            }else{
                $('#id_material_type_category').hide();
            }
        });
    });
</script>
{% endblock %}
