{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
 <!-- Page Content-->
 <div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Model Detail</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Model</a></li>
                                
                                <li class="breadcrumb-item active">Detail</li>
                            </ol>
                        </div><!--end col-->
                        <div class="col text-right">
                            <a href="{% url 'work_order:model-edit' pk=model.pk %}" class="btn btn-primary"><i class="las la-pen"></i> Edit</a>
                            <a href="{% url 'work_order:model-delete' pk=model.pk %}" class=" btn btn-danger"><i class="las la-trash-alt font-18"></i> Delete</a>
                        </div>
                    </div><!--end row-->                                                              
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->
        <!--end row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive-sm">
                            <table class="table table-striped mb-0" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold text-center">#</th>
                                        <th class="font-weight-bold text-left">Category</th>
                                        <th class="font-weight-bold text-left">Sub Category</th>
                                        <th class="font-weight-bold text-left">Material</th>
                                        <th class="font-weight-bold text-left">Sub Material</th>
                                        <th class="font-weight-bold text-left">Material Type</th>
                                        <th class="font-weight-bold text-left">Model No</th>
                                        <th class="font-weight-bold text-left">Size</th>
                                        <th class="font-weight-bold text-left">Colour</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-left">{{model.category}}</td>
                                        <td class="text-left">{{model.sub_category.name}}</td>
                                        <td class="text-left">{{model.material.name}}</td>
                                        <td class="text-left">{{model.sub_material.name}}</td>
                                        <td class="text-left">{{model.material_type.name}}</td>
                                        <td class="text-left">{{model.model_no}}</td>
                                        <td class="text-left">{{model.size.all|join:", " }}</td>
                                        <td class="text-left">{{model.color.all|join:", "}}</td>
                                    </tr>
                                    
                                    <tr ></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div> <!-- end col -->
        </div>

        <div class="row">
            {% for image in images_instances %}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="{{image.image.url}}" alt="" class="img-fluid rounded" style="height:250px;"/>
                            
                        </div><!--end blog-card--> 
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!--end col-->
            {% endfor %}
    
        </div> <!--end col-->
    </div><!-- container -->
</div>
<!-- end page content -->
{% endblock content %}
{% block static %}
{% load static %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var carouselElement = document.querySelector('#carouselExampleSlidesOnly');
        var carousel = new bootstrap.Carousel(carouselElement);
    });    
</script>

{% endblock %}