{% extends 'admin_panel/base.html' %}
{% load static %}
{% load main_templates_tags %}
{% load fe_template_tags %}
{% load purchase_templates_tags %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
   
                            </div><!--end col-->
                            
                        </div><!--end row-->                                                              
                    </div><!-- end page-title-box -->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex" style="background-color:#f8f9fa;">
                            <div class="col-md-6">
                                Date : <strong>{{ instance.date_added|date:"d-M-Y" }}</strong><br>
                                Invoice : <strong>{{instance.invoice_no}}</strong><br>
                                {% comment %} {% if instance.office_executive_is_varified %}
                                Varified Office Executive : <strong>{{instance.office_executive.get_fullname}}</strong><br>
                                {% endif %}
                                {% if instance.purchase_manager_is_varified %}
                                Varified Purchase Manager : <strong>{{instance.purchase_manager.get_fullname}}</strong>
                                {% endif %} {% endcomment %}
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="{% url 'purchase:print_purchase' pk=instance.pk %}" target="_blank" class="btn btn-primary"><i class="ri-printer-line"></i> Print</a>
                                <a href="{% url 'purchase:export_purchases_to_excel' %}?purchase_pk={{instance.pk}}" class="btn btn-success export-product" data-product_pk="{{instance.pk}}"><i class="ri-file-excel-2-line"></i> Export</a>
                                <a href="{% url 'purchase:edit_purchase' pk=instance.pk %}" class="btn btn-warning"><i class="ri-loop-right-line"></i> Edit</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive-sm">
                                <table class="table table-striped mb-0" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold text-center">#</th>
                                            <th class="font-weight-bold text-left">Item / Description</th>
                                            <th class="font-weight-bold text-center">Qty</th>
                                            <th class="font-weight-bold text-right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% get_product_materials instance.pk as materials %}
                                        {% for material in materials %}
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td class="text-left strong">{{material.purchase_item.name}}</td>
                                            <td class="text-center">{{material.qty}}</td>
                                            <td class="text-right">₹{{material.amount}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="font-weight-bold text-right" colspan="2">Grand Total: </td>
                                            <td class="font-weight-bold text-center">{{instance.total_qty}}</td>
                                            <td class="font-weight-bold text-right">₹{{instance.materials_total_amount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% get_product_expenses instance.pk as expences %}
                                {% if expences %}
                                <div class="card-header" style="padding: 0px 1rem 5px 1rem;">
                                    <h5 class="m-0 font-weight-bold">Expences :</h5>
                                </div>
                                <table class="table table-striped mb-0">
                                    <tbody>
                                        {% for expence in expences %}
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td class="text-left strong">{{expence.title}}</td>
                                            <td class="text-right">₹{{expence.amount}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="font-weight-bold text-right" colspan="2">Grand Total: </td>
                                            <td class="font-weight-bold text-right">₹{{instance.materials_total_expence}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-5"></div>
                                <div class="col-lg-4 col-sm-5 ml-auto">
                                    <table class="table table-clear">
                                        <tbody>
                                            <tr>
                                                <td class="text-left"><strong>Subtotal</strong></td>
                                                <td class="text-right">₹{{instance.sub_total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% if instance.description %}
                            <div class="row">
                                <div class="col-12 ml-2">
                                    <h6><strong>Description :</strong></h6>
                                    <p>{{instance.description}}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--end card-->
                </div> <!-- end col -->
            </div>
            {% comment %} {% get_product_is_varified request.user instance.pk as is_varified %}
            {% if is_varified %}
            <div class="row">
                <div class="col-lg-12  text-right">
                    {% get_user_is_purchase_maneger request.user as is_purchase_manager %}
                    {% if not is_purchase_manager %}
                        <button class="btn btn-success waves-effect waves-light purchase_varify" data-url="{% url 'purchase:varify_office_executive' pk=instance.pk %}"><i class="ri-check-double-fill"></i> varify</button>
                    {% else %}
                    {% if instance.office_executive_is_varified %}
                        <button class="btn btn-success waves-effect waves-light purchase_varify" data-url="{% url 'purchase:varify_purchase_manager' pk=instance.pk %}"><i class="ri-check-double-fill"></i> varify</button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %} {% endcomment %}

        </div><!-- container -->
    <!-- end page content -->
{% endblock content %}


{% block static %}
{% load static %}
{{form.media}}
<script>
    {% comment %} $(".purchase_varify").click(function () {
            var $this = $(this);
            console.log($this)
            
            var url = $this.attr('data-url');
            var method = "GET";
            
            $.ajax({
                type: method,
                url: url,
                dataType: 'json',
        
                success: function (data) {

                    window.location.reload();
                },
        
                error: function (data) {
                    var title = data["title"];
                    var errorMessagesStr = data["responseJSON"]["message"];
                    console.log(errorMessagesStr);
                },
            });
        }); {% endcomment %}

        $(".export-product").click(function () {
            var $this = $(this);
            var url = $this.attr('data-url');
            var method = "GET";
            
            $.ajax({
                type: method,
                url: url,
                dataType: 'json',
        
                success: function (data) {

                    window.location.reload();
                },
        
                error: function (data) {
                    var title = data["title"];
                    var errorMessagesStr = data["responseJSON"]["message"];
                    console.log(errorMessagesStr);
                },
            });
        });
</script>

    
{% endblock static %}
    
        