{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{ page_title }}</h4>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end page-title-box -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- end page title end breadcrumb -->
        <form action="{{ url }}" method="POST" class="ajax redirect">
            <div class="row">
                <div class="col-12">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body bootstrap-select-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{ form.name.label }} :</label>
                                        {{ form.name }}
                                        <label for="department_name">{{ form.department.label }} :</label>
                                        {{ form.department }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->

                    <button type="submit" id="submit" class="btn btn-soft-primary btn-sm waves-effect waves-light">Create Department</button>
                    <button type="button" onclick="window.history.back()" class="btn btn-soft-danger btn-sm">Cancel</button>
                </div><!-- end col -->
            </div><!-- end row -->
        </form><!-- end form -->
    </div><!-- container -->
</div><!-- end page content -->
{% endblock content %}

{% block static %}
{% load static %}
<!-- Additional styles if necessary -->
{{ form.media }}
<style>
    .form-group {
        margin-bottom: 10px;
    }
    .form-control {
        height: calc(2.8em + .75rem + 2px);
    }
</style>

{% endblock %}
