{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{ page_title }}</h4>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end page-title-box -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- end page title end breadcrumb -->
        <form action="{{ url }}" method="POST" enctype="multipart/form-data" class="ajax redirect">
            <div class="row">
                <div class="col-12">
                    {% csrf_token %}

                    <div id="material-types-section" class="card ordinary-variant-card">
                        <div class="table-responsive card-body add_item_container formset">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Material</th>
                                        <th>Sub Material</th>
                                        <th>Material Type</th>
                                        <th>Quality</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in carpentary_formset.forms %}
                                    <tr class="form_set_row carpentary_formset">
                                        {{ item.id }}
                                        <td><span class="material">{{ item.material }}</span></td>
                                        <td><span class="sub_material">{{ item.sub_material }}</span></td>
                                        <td><span class="material_type">{{ item.material_type }}</span></td>
                                        <td><span class="quality">{{ item.quality }}</span></td>
                                        <td><span class="quantity">{{ item.quantity }}</span></td>
                                        <td><span class="rate">{{ item.rate }}</span></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {{ carpentary_formset.management_form }}
                        </div>
                    </div>

                    <button type="submit" id="submit" class="btn btn-soft-primary btn-sm waves-effect waves-light">Submit</button>
                    <button type="button" onclick="window.history.back()" class="btn btn-soft-danger btn-sm">Cancel</button>
                </div><!-- end col -->
            </div><!-- end row -->
        </form><!-- end form -->
    </div><!-- container -->
</div><!-- end page content -->
{% endblock content %}

{% block static %}
{% load static %}
<style>
    .django-ckeditor-widget{
        display: block !important;
    }
</style>
{{ form.media }}
<style>
    .form-group { margin-bottom: 10px; }
    .text-area { height: 150px !important; }
    .select2-container--default { width: 100%; }
    .select2-container .select2-selection--single { height: calc(2.5em + .75rem + 2px); }
    .select2-container--default .select2-selection--single { border: 1px solid #e3ebf6; }
    .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 32px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b { margin-top: 8px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice { color: #000; }
    .select2-container--default .select2-selection--multiple { border: 1px solid #e3ebf6; }
    .select2-container--default.select2-container--focus .select2-selection--multiple { border: solid rgba(23, 97, 253, 0.5) 1px; }
    .form-control { height: calc(2.8em + .75rem + 2px); }
    .select2-container--default .select2-selection--multiple .select2-selection__choice { color: #000; }
    .select2-container--default .select2-selection--multiple { border: 1px solid #e3ebf6; }
    .select2-container--default.select2-container--focus .select2-selection--multiple { border: solid rgba(23, 97, 253, 0.5) 1px; }
    .dynamic-formset-add td { text-align: center !important; }
    #id_source{display: flex;list-style: none;padding: 0;justify-content: flex-start;align-items: center;}
    #id_source li{margin-right: 12px;}
</style>
<script>
    $(document).ready(function () {
        $('.formset table tr.form_set_row').formset({
            prefix: '{{ formset.prefix }}',
            formCssClass: 'dynamic-formset',
            added: function (row) {
                row.find('.type_sub_category_name').attr('disabled', 'disabled');
            },
        });
    });
</script>
{% endblock %}