{% extends 'admin_panel/base.html' %}
{% load static %}
{% load main_templates_tags %}
{% load work_order_templatetags %}
{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4 class="page-title">{{page_title}}</h4>
                            </div><!--end col-->
                            <div class="col-lg-4 col-sm-2 float-right ml-auto">
                                <form method="get" action="{% url 'work_order:polish_list' %}">
                                    <li class="list-inline-item w-100">
                                        <div class="input-group">
                                            <input name="q" type="text" id="search_box" placeholder="search" value="{{ filter_data.q }}"
                                                class="form-control" />
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-soft-primary btn-sm"><i class="fas fa-search"></i></button>
                                            </span>
                                        </div>
                                    </li>
                                </form>
                            </div>
                        </div><!--end row-->                                                              
                    </div><!-- end page-title-box -->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex" style="flex-direction: row; justify-content: space-between; align-items: center;">
                            <div class="col-lg-2">
                                <h4 class="card-title">Polish view</h4>
                            </div>
                            <div class="col-md-4 mt-3 text-center">
                                <div class="toggle-search">
                                    <div class="toggle">
                                        <label>
                                            <input type="radio" name="assignment_status" value="unassigned" >
                                            Unassigned
                                        </label>
                                        <label>
                                            <input type="radio" name="assignment_status" value="assigned" checked>
                                            Assigned
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Filter and other elements -->
                            <div class="col-md-4 text-right">
                                {% comment %} <a href="javascript:void('0');" id="print_button" class="btn btn-light text-capitalize border-0 ripple-surface-dark" style="color:#000"><i class="ri-printer-line text-primary" style="color:#3f51b5;"></i> Print</a>
                                <a href="javascript:void('0');" id="export_button" class="btn btn-light text-capitalize border-0 ripple-surface-dark" style="color:#000"><i class="ri-file-excel-2-line text-danger"></i> Export</a> {% endcomment %}
                                <div class="dropdown" style="display: inline;width: max-content;">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="filterMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-filter-fill"></i> Filter
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterMenuButton">
                                        <form action="." method="GET" class="px-4 py-3">
                                            <div class="form-group">
                                                <label for="inputField">Select Date</label>
                                                <input type="text" id="reportrange" class="form-control" name="date_range" value="{% if not filter_data.date_range %}{{first_date_formatted}} - {{last_date_formatted}}{% else %}{{filter_data.date_range}}{% endif %}" style="display: inline;width: max-content;">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputField">Name</label>
                                                {% comment %} <select class="form-control" name="branch">
                                                    {% get_branches as branches %}
                                                    <option value="">All</option>
                                                    {% for branch in branches %}
                                                    <option value="{{branch.pk}}" {% if filter_data.branch|stringformat:"s" == branch.pk|stringformat:"s" %}selected{% endif %}>{{branch.name}}</option>
                                                    {% endfor %}
                                                </select> {% endcomment %}
                                            </div>
                                            <div class="form-group">
                                                <label for="inputField">Location</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Apply</button>
                                      </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold text-center">Sl No</th>
                                            <th class="font-weight-bold text-center">WO No</th>
                                            <th class="font-weight-bold text-center">Customer Name</th>
                                            <th class="font-weight-bold text-center">No of Items</th>
                                            <th class="font-weight-bold text-center">Delivery Date</th>
                                            <th class="font-weight-bold text-center">Polish Assigned</th>
                                            <th class="font-weight-bold text-center">Staff Assign</th>
                                            <th class="font-weight-bold text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="work-orders-table">
                                        {% for order in polish %}
                                        <tr class="{% if order.is_assigned %}assigned{% else %}unassigned{% endif %}">
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td class="text-center">{{ order.order_no }}</td>
                                            <td class="text-center">{{ order.customer.name }}</td>
                                            <td class="text-center"><a href="{% url 'work_order:work_order_info' pk=order.pk %}">view</a></td>
                                            <td class="text-center">{{ order.delivery_date }}</td>
                                            <td class="text-center"><a href="{% url 'work_order:assign_polish' order.id %}">Add Accessories</a></td>
                                            <td class="text-center"><a href="{% url 'work_order:polish_order_staff_assign' order.id %}">Add Labour Cost</a></td>
                                            <td class="text-center">
                                                <a href="javascript: void(0);" data-bs-toggle="modal" data-bs-target="#WorkAssignModal" data-unique_id="{{order.pk}}" onclick="handleButtonClick(this)"><i class="las la-people-carry text-warning font-18"></i></a>
                                                <a href="{% url 'work_order:work_order_info' pk=order.pk %}"><i class="las la-eye text-success font-18"></i></a>
                                                <a href="{% url 'work_order:edit_work_order' pk=order.pk %}"><i class="las la-pen text-info font-18"></i></a>
                                                <a href="{% url 'work_order:edit_polish_assignment' order.pk %}" class="btn btn-sm btn-outline-info" title="Edit Polish Assignment">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a data-id="{{order.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'work_order:delete_work_order' pk=order.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assignModalLabel">Assigned Polish Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" id="assigned-polish-details">
                    <!-- AJAX-loaded content will appear here -->

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="WorkAssignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assign Section</h5>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form action="{% url 'work_order:assign_work_order' %}" method="POST" enctype="multipart/form-data" class="ajax redirect">
              <div class="modal-body">
                  {% csrf_token %}
                  {% work_order_status_assign_form as workstatusassignform %}
                  <input type="hidden" name="order_id" class="form-control" id="orderIdModalField">
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Status:</label>
                      {{workstatusassignform.to_section}}
                  </div>
                  <div class="form-group">
                      <label for="message-text" class="col-form-label">Remark:</label>
                      {{workstatusassignform.description}}
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn bg-gradient-primary" >Submit</button>
              </div>
          </form>
        </div>
      </div>
</div>
{% endblock content %}

{% block static %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var radioButtons = document.getElementsByName('assignment_status');
        var tableRows = document.getElementById('work-orders-table').getElementsByTagName('tr');

        function filterOrders() {
            var selectedValue = document.querySelector('input[name="assignment_status"]:checked').value;
            
            for (var i = 0; i < tableRows.length; i++) {
                if (selectedValue === 'assigned' && tableRows[i].classList.contains('assigned')) {
                    tableRows[i].style.display = '';
                } else if (selectedValue === 'unassigned' && tableRows[i].classList.contains('unassigned')) {
                    tableRows[i].style.display = '';
                } else {
                    tableRows[i].style.display = 'none';
                }
            }
        }

        for (var i = 0; i < radioButtons.length; i++) {
            radioButtons[i].addEventListener('change', filterOrders);
        }

        // Initial filter on page load
        filterOrders();
   


     // Modal related code
    document.querySelectorAll('.view-assignments').forEach(function(element) {
            element.addEventListener('click', function(event) {
                var orderId = event.target.getAttribute('data-order-id');
                fetchAssignedPolishDetails(orderId);
            });
        });

        function fetchAssignedPolishDetails(orderId) {
            var url = "{% url 'work_order:allocated_polish' 0 %}".replace('0', orderId);
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.html) {
                        document.getElementById('assigned-polish-details').innerHTML = data.html;
                    } else {
                        console.error('No HTML content received');
                    }
                })
                .catch(error => {
                    console.error('Error fetching assigned polish details:', error);
                });
        }
        });

</script>
<script>
    function handleButtonClick(button) {
        $('#WorkAssignModal').modal('show');
        var orderId = $(button).attr("data-unique_id");
        $("#orderIdModalField").val(orderId);
    };
    
    function clearForm() {
        // Clear the form fields
        document.getElementById('orderIdModalField').value = '';
        document.getElementById('id_status').value = '';
        document.getElementById('id_description').value = '';
        $('#WorkAssignModal').modal('hide');
    }
    </script>
{% endblock static %}