{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{page_title}}</h4>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!-- end page-title-box -->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        {% if page_title %}
                        <h4 class="card-title">{{page_title}}</h4>
                        {% else %}
                        <h4 class="card-title">Create</h4>
                        {% endif %}
                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <form action="{{url}}" method="post" id="purchase_form" enctype="multipart/form-data"  class="w-100 ajax redirect" autocomplete="off" novalidate>
                            {% csrf_token %}
                            <div class="card ordinary-variant-card">
                                <div class="table-responsive card-body add_item_container purchase_items_formset">
                                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th data-column-id="image" colspan="4">Add Purchase</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th style="min-width: 15px;">Name</th>
                                            <th style="min-width: 15px;"></th>
                                            {% for item in purchase_items_formset.forms %}
                                            <tr class="form_set_row purchase_items_formset">
                                                {{item.id}}
                                                <td>
                                                    <span class="name" style"">
                                                        {{ item.name }}
                                                    </span>
                                                </td>
                                                <td class="delete">
                                                    {% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ purchase_items_formset.management_form }}
                                </div>
                            </div>
                
                            <div class="mb-3 text-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div> <!-- end col -->
        </div>
    </div><!-- container -->

</div>
<!-- end page content -->

{% endblock content %}

{% block static %}
    {% load static %}
    {% comment %} <style>
        input{
            width: 40% !important;
        }
    </style> {% endcomment %}
    {{form.media}}
    <style>
        .form-group {
            margin-bottom: 10px;
        }
        .text-area{
            height: 150px !important;   
        }    
        .form-control {
            height: calc(2.8em + .75rem + 2px);
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #000;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid rgba(23,97,253,0.5) 1px;
        }
        .dynamic-formset-add td{
            text-align: center !important;
        }
        .purchase_items_formset a.add-row::before{
            content: "+ Add"
        }
        .purchase_items_formset a.remove::before{
            content: "Remove"
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.purchase_items_formset table tr.form_set_row').formset({
                prefix: '{{ purchase_items_formset.prefix }}',
                formCssClass: 'dynamic-formset',

                'added': function (row) {
                    
                },
            });
        });
    </script>
{% endblock %}