{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">{{ page_title }}</h4>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end page-title-box -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- end page title end breadcrumb -->
        <form action="{{ url }}" method="GET" enctype="multipart/form-data" class="ajax redirect">
            <div class="row">
                <div class="col-12">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body bootstrap-select-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name :</label>
                                        {{ instances.first_name }}
                                    </div><!-- end form-group -->
                                    <div class="form-group">
                                        <label for="last_name">last Name :</label>
                                        {{ instances.last_name }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="designation">Designation :</label>
                                        {{ instances.designation }}
                                    </div><!-- end form-group -->

                                    <div class="form-group">
                                        <label for="department">Department :</label>
                                        {{ instances.department }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone :</label>
                                        {{ instances.phone }}
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address :</label>
                                        {{ instances.address }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email :</label>
                                        {{ instances.email }}
                                    </div>
                                    <div class="form-group">
                                        <label for="employee_id">Employee_id :</label>
                                        {{ instances.employee_id }}
                                    </div><!-- end form-group -->
                                </div><!-- end col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">Company :</label>
                                        {{ instances.company }}
                                    </div>
                                    
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->

                    

                    {% comment %} <button type="submit" id="submit" class="btn btn-soft-primary btn-sm waves-effect waves-light" id="sa-mixin">Submit</button> {% endcomment %}
                    <button type="button" onclick="window.history.back()" class="btn btn-soft-danger btn-sm">Back</button>
                </div><!-- end col -->
            </div><!-- end row -->
        </form><!-- end form -->
    </div><!-- container -->
</div><!-- end page content -->
{% endblock content %}

{% block static %}
{% load static %}
<!-- stylessssssssssss -->
{{ instances.media }}
<style>
    .form-group {
        margin-bottom: 10px;
    }
    .text-area {
        height: 150px !important;
    }
    .select2-container--default {
        width: 100%;
    }
    .select2-container .select2-selection--single {
        height: calc(2.5em + .75rem + 2px);
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #e3ebf6;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-top: 8px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: #000;
    }
    .select2-container--default .select2-selection--multiple {
        border: 1px solid #e3ebf6;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid rgba(23, 97, 253, 0.5) 1px;
    }
    .form-control {
        height: calc(2.8em + .75rem + 2px);
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: #000;
    }
    .select2-container--default .select2-selection--multiple {
        border: 1px solid #e3ebf6;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid rgba(23, 97, 253, 0.5) 1px;
    }
    .dynamic-formset-add td {
        text-align: center !important;
    }
</style>

{% endblock %}
