<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>FMS - password generate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose member password generate" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'admin_panel/assetss/images/favicon.ico' %}">
    <!-- App css -->
    <link href="{% static 'admin_panel/assetss/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- bootstrap select -->
    <!-- mulish font google link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <!-- phosphor-icons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{% static 'admin_panel/assets/css/password_change_style.css' %}">
    
</head>
<body>

    <div class="container-fluid">

        <div class="row" style="border-bottom: 1px solid rgb(0,0,0,0.08);padding: 24px;">
            <div class="col-sm-12">
                <img src="{% static 'admin_panel/assets/images/icons/logo/' %}" alt="ttclubmaillogo.svg" class="logo" height="40">
            </div>
        </div>

        <form action="{{url}}" method="post" class='password_change' autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="row main text-center justify-content-center">
                        <div class="col-sm-6">
                            <div class="row text-center justify-content-center">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="passwrd-icon" style="
                                        background-color: #e9effd;
                                        color: rgba(0, 76, 255, 1);
                                        padding: 24px;
                                        border-radius: 100%;
                                        width: fit-content;
                                        margin-left: auto;
                                        margin-right: auto;
                                        margin-bottom: 24px;"><i class="ph ph-password" style="background-color: #e9effd;font-size: 48px;"></i></div>
                                        <h4 style="margin-bottom: 12px;">Create Your Password</h4>
                                        <p style="margin-bottom: 48px;">Create new password to secure your account</p>
                                        <p class="error-message" style="display:none;"></p>
                                    </div>
                                </div><!-- end col -->
                            </div>
                            <div class="row text-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.password}}
                                    </div>
                                </div><!-- end col -->
                            </div>                            
                            <div class="row text-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.confirm_password}}
                                    </div>
                                </div><!-- end col -->
                            </div>
                            <div class="row text-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary w-100" >Save Password</button>
                                    </div>
                                </div><!-- end col -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            
    </div>
    <!-- jQuery  -->
    {% include 'admin_panel/includes/js.html' %}

    <script>
        $(".password_change").submit(function (e) {
            console.log("get")
            e.preventDefault();
            var $this = $(this);
            
            var url = $this.attr('action');
            var method = $this.attr('method');
            var isReset = $this.hasClass('reset');
            var isReload = $this.hasClass('reload');
            var isRedirect = $this.hasClass('redirect');
            var noLoader = $this.hasClass('no-loader');
            var noPopup = $this.hasClass('no-popup');
            var isRunFunctionAfter = $this.hasClass('run-function-after');
            var function_name = $this.attr('data-function');
            var selector_class = $this.attr('data-after-function-selector-parent-class');
            // Get the CSRF token from the cookie
            var csrftoken = getCookie('csrftoken');
            var data = $this.serialize();
            
            $.ajax({
                type: method,
                url: url,
                dataType: 'json',
                data: new FormData(this),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function(xhr, settings) {
                    // Include the CSRF token in the request headers
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
        
                success: function (data) {
                    console.log("susccess")
                    console.log(data)

                    window.location.href = "{% url 'password_successfull' %}";
                },
        
                error: function (data) {
                    
                    console.log(data)
                    var message = data["responseJSON"]["message"].split(":").pop();
                    $("p.error-message").css({
                        'display': 'block',
                        'color': 'red'
                      });
                    $("p.error-message").html(message);
                },
                cache: false,
                contentType: false,
                processData: false
            });
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
</body>
</html>