{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}

    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!-- end page-title-box -->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            <form action="{{url}}" method="POST" enctype="multipart/form-data" class="ajax redirect">
                <div class="row">
                    <div class="col-12">
                        {% csrf_token %}

                        <div class="card">
                            <div class="card-header">
                                {% if is_upload %}
                                <h4 class="card-title">{{page_title}}</h4>
                                {% else %}
                                <h4 class="card-title">Create</h4>
                                {% endif %}
                            </div>
                            <!--end card-header-->
                            <div class="card-body bootstrap-select-1">

                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="{{form.type.id_for_label}}">{{form.type.label}} : </label>
                                            {{form.type}}
                                        </div><!--end form-group-->
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="{{form.text.id_for_label}}">{{form.text.label}} : </label>
                                            {{form.text}}
                                        </div><!--end form-group-->
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="{{ads_image_form.image.id_for_label}}" class="d-none">{{ads_image_form.image.label}} : </label>
                                            {{ads_image_form.image}}
                                        </div><!--end form-group-->
                                    </div>
                                </div>

                                {% if form.instance.get_image %}
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <img src="{{form.instance.get_image}}" height="100%" width="100%">
                                            </div><!--end card-body-->
                                        </div><!--end card-->
                                    </div><!--end col-->
                                </div>
                                {%endif%}

                            </div><!-- end card-body --> 
                        </div> <!-- end card -->

                        
                        <button type="submit" id="submit" class="btn btn-soft-primary btn-sm waves-effect waves-light" id="sa-mixin">Submit</button>
                        <button type="button" onclick="window.history.back()" class="btn btn-soft-danger btn-sm">Cancel</button>

                    </div> <!-- end col -->
                </div> <!-- end row --> 
            </form>  <!--end form-->


            
        </div><!-- container -->

    </div>
    <!-- end page content -->
{% endblock content %}

{% block static %}
    {% load static %}
    {{form.media}}
    <style>
        .form-group {
            margin-bottom: 10px;
        }
        .text-area{
            height: 150px !important;   
        }
        .select2-container--default{
            width: 100%;
        }
        .select2-container .select2-selection--single {
            height: calc(2.5em + .75rem + 2px);
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 32px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: 8px;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #000;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid rgba(23,97,253,0.5) 1px;
        }
    
        .form-control {
            height: calc(2.8em + .75rem + 2px);
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #000;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid rgba(23,97,253,0.5) 1px;
        }
    </style>

    <script>
        $(document).ready(function(){
            function typeChange() {
                var selectedType = $("#id_type").val();
                if (selectedType === '100') {
                    $('#id_text').removeClass("d-none");
                    $('label[for="id_text"]').removeClass("d-none");
                    $('#id_image').addClass("d-none");
                    $('label[for="id_image"]').addClass("d-none");
                } else if (selectedType === '101') {
                    $('#id_text').addClass("d-none");
                    $('label[for="id_text"]').addClass("d-none");
                    $('#id_image').removeClass("d-none");
                    $('label[for="id_image"]').removeClass("d-none");
                } else if (selectedType === '102') {
                    $('#id_text').removeClass("d-none");
                    $('label[for="id_text"]').removeClass("d-none");
                    $('#id_image').removeClass("d-none");
                    $('label[for="id_image"]').removeClass("d-none");
                }
            }
            $("#id_type").change(function(event) {
                typeChange(event); // Pass the event object to typeChange function
            });
        
            typeChange(); // Initial call to set visibility based on initial value
        });
        
    </script>
{% endblock  %}









