{% load static %}
{% load main_templates_tags %}

<div class="left-sidenav">
    <!-- LOGO -->
    <div class="brand">
        <a href="{% url 'app' %}" class="logo">
            <span>
                <img src="{% static 'admin_panel/assets/images/mrm-logos/mrm-updated-logo2-150x150.png' %}" alt="logo-small" class="logo-sm" style="height: 85px;">
            </span>
        </a>
    </div>
    <!--end logo-->
    <div class="menu-content h-100" data-simplebar>
        <ul class="metismenu left-sidenav-menu">
            <li class="menu-label mt-0">Main</li>
            <li>
                <a href="{% url 'app' %}"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Dashboard</span></a>
            </li>
            
            <li>
                <a href="javascript: void(0);"> <i class="ti-settings align-self-center menu-icon"></i><span>Staff</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'staff:department_list' %}"><i class="ti-control-record"></i>Department</a>
                        <a class="nav-link" href="{% url 'staff:department_create' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'staff:designation_list' %}"><i class="ti-control-record"></i>Designation</a>
                        <a class="nav-link" href="{% url 'staff:designation_create' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'staff:staff_list' %}"><i class="ti-control-record"></i>Staff</a>
                        <a class="nav-link" href="{% url 'staff:staff_create' %}"><i class="ti-plus"></i></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);"> <i class="ti-shopping-cart align-self-center menu-icon"></i><span>Product</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'product:material_list' %}"><i class="ti-control-record"></i>Material</a>
                        <a class="nav-link" href="{% url 'product:create_material' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'product:product_category_list' %}"><i class="ti-control-record"></i>Product Category</a>
                        <a class="nav-link" href="{% url 'product:create_product_category' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'product:product_list' %}"><i class="ti-control-record"></i>Product</a>
                        <a class="nav-link" href="{% url 'product:create_product' %}"><i class="ti-plus"></i></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);"> <i class="ti-settings align-self-center menu-icon"></i><span>Order</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'work_order:work_order_list' %}"><i class="ti-control-record"></i> Work Order</a>
                        <a class="nav-link" href="{% url 'work_order:workorder' %}"><i class="ti-plus"></i> </a>
                        </li>   
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="javascript: void(0);"> <i class="ti-settings align-self-center menu-icon"></i><span>Settings</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                     <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'settings:company_details_list' %}"><i class="ti-control-record"></i>Company Details</a>
                        <a class="nav-link" href="{% url 'settings:company_details_create' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'settings:branch_list' %}"><i class="ti-control-record"></i>Branch</a>
                        <a class="nav-link" href="{% url 'settings:branch_create' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'settings:contact_list' %}"><i class="ti-control-record"></i>Contact</a>
                        <a class="nav-link" href="{% url 'settings:create_contact' %}"><i class="ti-plus"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>